<div class="main-center">
  <section id="order" class="main-section">
    <h2 class="main-section-title">Order</h2>
    <p>You can place your order by visiting our restaurant here.</p>
  </section>
</div> 